@import '~box-ui-elements/dist/sidebar.css';

body,
html,
.container {
    border: 0 none;
    box-sizing: border-box !important;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

a,
a:visited {
    color: #777;
    text-decoration: none;
    &:hover {
        color: #0061D5;
    }
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.body {
    display: flex;
    flex: 1 0 auto;
}

.be {
    .bcs-activity-feed-active-state {
        padding: 9px 25px;
    }
}

#timing {
    background-color: grey;
    line-height: 30px;
    margin: 10px;
    opacity: 0.5;
    padding: 5px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}
